<div class="page">
    <h2>Page Main</h2>
    {{# console.log(this.model); }}
    <div class="left-col">
        <ul>
            <li class="item1">1</li>
            <li class="item2">2</li>
            <li class="item3">3</li>
            <li class="item4">4</li>
        </ul>
    </div>
    <div class="right-col">
        <ul>
            <li class="resultItem1">0</li>
            <li class="resultItem2">0</li>
            <li class="resultItem3">0</li>
            <li class="resultItem4">0</li>
        </ul>
    </div>

</div>