<div class="page">
    <div class="h-text">
        <h2>Menu</h2>
    </div>
    <div class="wrap-col">
        <div class="left-col">
            <div class="list">
                {{# _.each(model, function (item) { }}
                <span class="resultItem1" data-model-id="{{ item.id }}">{{ item.name }}</span><br>
                {{# }); }}
            </div>
        </div>
        <div class="price-col">
            <div class="list">
                {{# _.each(model, function (item) { }}
                <span class="resultItem1">{{ item.price }}</span><br>
                {{# }); }}
            </div>
        </div>
        <div class="right-col">
            <div class="list">
                {{# _.each(model, function (item) { }}
                    <span class="resultItem1">{{ item.res }}</span><br>
                {{# }); }}
            </div>
        </div>
        <div class="summa-col">
            <div class="list">
                {{# _.each(model, function (item) { }}
                <span class="resultItem1">{{ item.sum }}</span><br>
                {{# }); }}
            </div>
        </div>
    </div>

</div>