html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    font: Arial, sans-serif;
}
#header{
    height: 30px;
    background: #eeeeee;
}
#content{
    top: 30px;
    height: 100%;
    width: 100%;
    position: absolute;
}